=form_for [@user] do |f|
    = f.label 'Prenom:'
    = f.text_field :first_name
    <br>
    = f.label 'Nom:'
    = f.text_field :last_name
    <br>
    = f.label 'Email:'
    = f.email_field :email
    <br>
    - if @user.avatar.url.present?
        = image_tag @user.avatar.thumb.url
    = f.label 'Avatar :'
    = f.file_field :avatar
    <br>
    <br>
    - if @user.new_record?
        = f.label 'Password (6 caracters minimum):'
        = f.password_field :password
        <br>
        = f.label 'Password confirmation:'
        = f.password_field :password_confirmation
        <br>
    =f.submit "Validate", class: "btn"