%section

    %a= link_to "Back to Users list", [:users], { :class=>"btn" }

    %h3= @user.first_name 

    - if @user.avatar.url.present?
        = image_tag "#{@user.avatar.thumb.url}"

    %br
    %p= "Email : #{@user.email}"

    - if @user == current_user
        %a= link_to "Edit", [:edit, @user], {:class=>"btn"}

        %a= link_to "Delete", [@user],  {method: :delete, :class=>"btn"}

