%div
    - if current_user
        <br>
        =link_to "Create post", new_user_post_path(current_user), {:class => "btn"}
    %h2 Posts list :
    %ul
        -Post.all.each do |post|
            %section{:class => "posts"}
                %div
                    =link_to "#{post.title}", [post.user, post]
                    %span= "#{post.created_at}"
                    %span= "#{post.user.first_name}"
                %p= "#{post.lead_paragraph}"



