%div
    - if current_user
        <br>
        =link_to "Create post", new_user_post_path(current_user), {:class => "btn"}
    %h2 Posts list :
    %ul
        -Post.all.each do |post|
            %section{:class => "posts"}
                - if post.thumbnail.url.present?
                    = image_tag "#{post.thumbnail.thumb.url}"
                %div{:class => "post_precontent"}
                    %div 
                        =link_to "#{post.title}", [post.user, post]
                        <span> Written by:
                        =link_to "#{post.user.first_name} #{post.user.last_name}", post.user
                        </span>
                        %span= "Date: #{post.created_at}"
                    %p= "#{post.lead_paragraph}"
