%section

    =link_to "Back to posts", [:user,:posts], { :class=>"btn" }
    
    %div
        %h3= @post.title
        <span> Written by:
        =link_to "#{@post.user.first_name} #{@post.user.last_name}", @post.user
        </span>
        %span= "Date: #{@post.created_at}"
    %br
    %br
    - if @post.thumbnail.url.present?
        = image_tag "#{@post.thumbnail.url}"

    %p= @post.lead_paragraph
    %p= @post.content

    - if @post.user == current_user
        =link_to "Edit", [:edit, @post.user, @post], {:class=>"btn"}
        =link_to "Delete", [@post.user, @post],  {method: :delete, :class=>"btn"}

    - if current_user
        =form_for @comment = Comment.new, :html => {:class => "commenting"}, url:[@user, @post, @comment] do |c|
            = c.label 'Write a comment about it:'
            = c.text_field :content,:required => true
            = c.submit "Publish it!", class: "btn"

-if @post.comments.size == 0
    %p= "Be the first to write a comment !"
-else
    %h3= "Comments:"
    -@post.comments.each do |c|
        %section{:class => 'posts'}
            - if @user.avatar.url.present?
                = image_tag "#{@user.avatar.thumb_comment.url}"
            %div{:class => "post_precontent"}
                %div 
                    =link_to "#{@user.first_name} #{@user.last_name}", [@user]
                    %span= "Date: #{c.created_at}"
            %p= c.content
            -if @user == current_user
                =link_to "Delete", [@post.user,@post,c],  {method: :delete, :class=>"btn"}

            
