%section

    %a= link_to "Back to posts", [:user,:posts], { :class=>"btn" }
    
    %div
        %h3= @post.title
        <span> Written by:
        =link_to "#{@post.user.first_name} #{@post.user.last_name}", @post.user
        </span>
        %span= "Date: #{@post.created_at}"
    %br
    %br
    - if @post.thumbnail.url.present?
        = image_tag "#{@post.thumbnail.url}"

    %p= @post.lead_paragraph
    %p= @post.content

    - if @post.user == current_user
        %a= link_to "Edit", [:edit, @post.user, @post], {:class=>"btn"}
        %a= link_to "Delete", [@post.user, @post],  {method: :delete, :class=>"btn"}


%h3= "Comments:"
