<!DOCTYPE html>
<html>
<head>
  <title>RubyProject</title>
  <%= stylesheet_link_tag    'materialize', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'materialize', 'data-turbolinks-track' => true %>
  
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
    <nav>
        <ul>
            <li><a href="/">Posts</a></li>
            <% if user_signed_in? %>
                <li>Bonjour, <%= current_user.email %></li>
                <li><%= link_to('Logout',destroy_user_session_path, {:method => :delete}) %></li>
            <% else %>
                 <li><%= link_to('Login',new_user_session_path)%></li>
                 <li><%= link_to('Sign up',new_user_registration_path)%></li>
            <% end %>
        </ul>
    </nav>

<% if notice %>
  <p class="alert alert-success"><%= notice %></p>
<% end %>
<% if alert %>
  <p class="alert alert-danger"><%= alert %></p>
<% end %>


  <%= yield %>


</body>
</html>
